snippet ifmain "if __name__ == '__main__'"
def main():
	%#;

if __name__ == '__main__':
	main()
endsnippet

snippet logfn "generic logging function" b
from pprint import pprint
def log(s):
	with open('log.txt', 'a') as f:
		pprint(s, stream=f)
%#;
endsnippet
