snippet tests "tests boilerplate"
#[cfg(test)]
mod tests {
	use super::*;

	#[test]
	fn test_%#;() {
		%#;
	}
}
endsnippet

snippet test "#[test] fn" b
#[test]
fn test_%#;() {
	%#;
}
endsnippet

snippet der "blank derive directive"
#[derive(%#;)]
endsnippet

snippet dd "#[derive(Debug)]"
#[derive(Debug)]
%#;
endsnippet

snippet display "impl fmt::Display for struct"
impl fmt::Display for %#; {
	fn fmt(&self, f: &mut fmt::Formatter) -> fmt::Result {
		write!(f, "%#;", %#;)
	}
}
endsnippet
