snippet tests "tests boilerplate" b
#[cfg(test)]
mod tests {
	use super::*;

	#[test]
	fn test_$1() {
		$0
	}
}
endsnippet

snippet test "#[test] fn" b
#[test]
fn test_$1() {
	$0
}
endsnippet

snippet dd "#[derive(Debug)]" b
#[derive(Debug)]
$0
endsnippet
