snippet bash "bash shebang" w
#!/usr/bin/env bash
endsnippet

snippet ifmain "bash 'if name == __main__' equivalent" w
$1() {
	$0
}
if [ "${BASH_SOURCE[0]}" = "\$0" ]; then
	${1:main} "$@"
fi
endsnippet
